.archetype-skill-tree-selector
{
    position: relative;
    left: 0%;
    top: 40%;
}

.archetype-skill-tree-selector #archetype-selector-buttons
{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(8, 60px);
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 15px;
    border-radius: 25px;
    z-index: 0;
    white-space: pre-line;
}

.archetype-skill-tree-selector #archetype-selector-buttons[data-show="0"]
{
    visibility: hidden;
}

#archetype-selector-title
{
    text-align: center;
    padding-bottom: 30px;
}

#archetype-selector-title[data-show="0"]
{
    visibility: hidden;
}

#tank-select-button
{
    background: radial-gradient(circle, rgba(181,9,9,1) 0%, rgba(181,9,9,1) 36%, rgba(181,9,9,0) 80%);
}

#fighter-select-button
{
    background: radial-gradient(circle, rgba(121,90,9,1) 0%, rgba(121,90,9,1) 36%, rgba(121,90,9,0) 80%);
}

#rogue-select-button
{
    background: radial-gradient(circle, rgba(170,171,10,1) 0%, rgba(170,171,10,1) 36%, rgba(170,171,10,0) 80%);
}

#ranger-select-button
{
    background: radial-gradient(circle, rgba(40,128,7,1) 0%, rgba(40,128,7,1) 36%, rgba(40,128,7,0) 80%);
}

#mage-select-button
{
    background: radial-gradient(circle, rgba(8,171,136,1) 0%, rgba(8,171,136,1) 36%, rgba(8,171,136,0) 80%);
}

#cleric-select-button
{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,0) 80%);
}

#summoner-select-button
{
    background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 36%, rgba(9,9,121,0) 80%);
}

#bard-select-button
{
    background: radial-gradient(circle, rgba(179,9,181,1) 0%, rgba(179,9,181,1) 36%, rgba(179,9,181,0) 80%);
}