.skill-tree#Fighter-Skill-Tree[data-show="1"]
{
    visibility: visible;
    top: -310px;
}

.skill-tree#Fighter-Skill-Tree
{
    position: absolute;
    display:grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    min-width: 925px;
    width: 925px;
    min-height: 850px;
    height: 850px;
    visibility: hidden;
}

.skill-tree-bg
{
    position: absolute;
    background-image: url("/Splash.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 25%;
    opacity: 25%;
    min-width: 925px;
    width: 925px;
    min-height: 900px;
    height: 900px;
}

.point-tracker
{
    position: absolute;
}