.skill-choice-menu
{
    position: relative;
    left: -150px;
    visibility: hidden;
}

.skill-choice-menu[data-show="1"]
{
    visibility: visible;
    filter: brightness(100%) !important;
    z-index: 101; /* literally just one more than skill button */
}

.skill-choice-menu #remove-button
{
    scale: .66;
    position: absolute;
    left: -60px;
    top: 55px;
}

.skill-choices
{
    position: relative;
    width: 350px;
    height: 202px;
    background-color: rgb(19, 19, 19);
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4px;
    padding: 4px;
}

.skill-choices[data-choice-amount="4"]
{
    height: 272px;
}

.skill-choices[data-choice-amount="4"]
{
    height: 272px;
}

.skill-choice-menu[data-side="top"] .skill-choices[data-choice-amount="4"]
{
    top: -350px;
}

.skill-choice-menu[data-side="top"] .skill-choices[data-choice-amount="3"]
{
    top: -280px;
}