.skill-tree#Greatsword-Skill-Tree[data-show="1"]
{
    visibility: visible;
    top: -310px;
}

.skill-tree#Greatsword-Skill-Tree
{
    position: absolute;
    min-width: 925px;
    width: 925px;
    min-height: 850px;
    height: 850px;
    visibility: hidden;
}

.greatsword-skill-tree-buttons
{
    position: absolute;
    display: grid;
    grid-template-rows: repeat(14, 60px);
    grid-template-columns: repeat(9, 60px);
    gap: 30px;
    min-width: 925px;
    width: 925px;
    min-height: 900px;
    height: 900px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.skill-tree#Wand-Skill-Tree[data-show="1"]
{
    visibility: visible;
    top: -310px;
}

.skill-tree#Wand-Skill-Tree
{
    position: absolute;
    min-width: 925px;
    width: 925px;
    min-height: 850px;
    height: 850px;
    visibility: hidden;
}

.wand-skill-tree-buttons
{
    position: absolute;
    display: grid;
    grid-template-rows: repeat(11, 60px);
    grid-template-columns: repeat(11, 60px);
    gap: 30px;
    min-width: 925px;
    width: 925px;
    min-height: 900px;
    height: 900px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#reset
{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 820px;
    left: 25px;
}

#back
{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 820px;
    left: 75px;
}